<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0skA4IBMnyWhzkMChYTJm0uaLrkxDEu4</string>
	<key>GCM_SENDER_ID</key>
	<string>62035373259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tumim.mezmurDebter</string>
	<key>PROJECT_ID</key>
	<string>thummim-app</string>
	<key>STORAGE_BUCKET</key>
	<string>thummim-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62035373259:ios:56b045a3b6358608e9ff4e</string>
</dict>
</plist>